
* {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #2B3A46;;
  height: 80px;
}

nav img {
  height: 100%;
}

.discs_container {
  background-color: #192D3B;
  min-height: calc(100vh - 80px);
}

.discs_container .container {
  flex-wrap: wrap; 
}

.card {
  background-color: #2B3A46;
  color: white;
}

.card p {
  color: #7A7F80;
}